%h3Text {
    color: black;
    text-align: center;
    margin: 0 auto;
    display: inline;
    border-bottom: 2px solid rgba(39, 74, 202, 0.442);
    font-size: 2rem;
    margin-top: 0.5rem;
    span {
        color: #004cff;
    }
}

%btnScrollDownMix{
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    bottom: 4%;
    border: none;
    border-radius: 2rem;
    outline: none;
    transition: all 0.5s ease;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    color: rgba(16, 62, 226, 0.823);
    &:active {
        left: 50%;
        bottom: 2%;
    }
    &:hover {
        background-color: rgba(16, 62, 226, 0.823);
        color: white;
    }
}

.about {
    background-color: #f5f6f7;
    &-banner {
        position: relative;
        width: 100%;
        height: calc(100vh - 4rem);
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("../images/bannerAbout.jpg");
        background-repeat: none;
        background-size: cover;
        background-position: center;
        &-text {
            transition: all 0.5s ease-in;
            h2,
            h3 {
                color: white;
                position: absolute;
                font-size: 3rem;
                left: 15%;
                top: 30%;
                animation: heyo 1s;
            }
            h3 {
                top: 40%;
                span {
                    color: #004cff;
                }
            }
        }

        .btn-start {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10%;
            border: none;
            padding: 0.8rem 2rem;
            border-radius: 20px;
            outline: none;
            transition: all 0.5s ease;
            font-size: 1.2rem;
            background-color: #00163f;
            color: #0084f7;
            &:active {
                left: 50%;
                bottom: 9%;
            }
            &:hover {
                background-color: rgba(39, 74, 202, 0.442);
                color: white;
            }
        }
    }
    //About me --------------------------------------------------------------------------------
    &-me {
        margin-top: 4rem;
        padding-top: 2rem;
        margin-bottom: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
            @extend %h3Text;
        }
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 1000px;
            &-info-img {
                margin-top: 4rem;
                overflow: hidden;
                width: 450px;
                height: 500px;
                background-color: rgba(39, 74, 202, 0.442);
                border-radius: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    padding: 0.3rem;
                }
            }
            &-info-text {
                width: 500px;
                height: 500px;
                box-shadow: 0 0 5px #ccc;
                padding: 0.5rem;
                margin-top: 4rem;
                background-color: white;
                border-radius: 10px;
                position: relative;
                table {
                    border-collapse: separate;
                    border-spacing: 1rem;
                    tbody {
                        tr {
                            td {
                                color: black;
                                font-weight: bolder;
                                font-size: 1.1rem;
                                .fullName {
                                    color: #004cff;
                                }
                                span {
                                    margin-left: 1rem;
                                    color: #999;
                                    font-size: 1.1rem;
                                    font-weight: lighter;
                                }
                            }
                        }
                    }
                }
                .btnCV {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 12%;
                    border: none;
                    padding: 0.6rem 0.8rem;
                    border-radius: 2rem;
                    outline: none;
                    transition: all 0.5s ease;
                    font-size: 1rem;
                    background-color: #3f65ff;
                    color: black;
                    &:hover {
                        color: white;
                    }
                }
                .btn-scrollDown {
                    position: absolute;
                    left: 51%;
                    transform: translateX(-50%);
                    bottom: 4%;
                    border: none;
                    border-radius: 2rem;
                    outline: none;
                    transition: all 0.5s ease;
                    font-size: 1rem;
                    padding: 0.3rem 1rem;
                    color: rgba(16, 62, 226, 0.823);
                    &:active {
                        left: 50%;
                        bottom: 2%;
                    }
                    &:hover {
                        background-color: rgba(16, 62, 226, 0.823);
                        color: white;
                    }
                }
            }
        }
    }
    //My Resume--------------------------------------------------------------------------------
    &-my-resume {
        padding-top: 2rem;
        margin-bottom: 4rem;
        width: 100%;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            @extend %h3Text;
        }

        &-step {
            position: relative;
            border-radius: 10px;
            background-color: white;
            padding: 2rem;
            max-width: 800px;
            margin: 0 auto;
            margin-top: 4rem;
            box-shadow: 0 0 5px #ccc;

            .education {
                margin-bottom: 2rem;
                h4 {
                    font-weight: 800;
                    font-size: 1.8rem;
                    margin-bottom: 30px;
                    color: #3e64ff;
                }
                &-content {
                    display: flex;
                    justify-content: flex-start;
                    img {
                        background-color: #3e64ff;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        padding: 0.3rem;
                        padding-top: 0.2rem;
                    }
                    &-text {
                        margin-left: 1rem;
                        h6 {
                            font-weight: 700;
                            font-size: 1rem;
                            color: #3e64ff;
                        }
                        h4 {
                            font-size: 1.4rem;
                            font-weight: 700;
                            color: black;
                        }
                        h5 {
                            font-size: 1.1rem;
                            font-weight: 700;
                            color: #000;
                            line-height: 0;
                        }
                        p {
                            margin-top: 1.5rem;
                            color: #999;
                            font-size: 1.1rem;
                            text-align: justify;
                        }
                    }
                }
            }
            .btn-scrollDown {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 2%;
                border: none;
                border-radius: 2rem;
                outline: none;
                transition: all 0.5s ease;
                font-size: 1rem;
                padding: 0.3rem 1rem;
                color: rgba(16, 62, 226, 0.823);
                &:active {
                    left: 50%;
                    bottom: 1%;
                }
                &:hover {
                    background-color: rgba(16, 62, 226, 0.823);
                    color: white;
                }
            }
        }
    }
    //My Skill--------------------------------------------------------
    &-my-skill {
        padding-top: 2rem;
        margin-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .h3Fake {
            margin-top: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 7.5rem;
            .secondH3,
            .firstH3 {
                color: black;
                text-align: center;
                margin: 0 auto;
                display: inline;
                border-bottom: 2px solid rgba(39, 74, 202, 0.442);
                font-size: 2rem;
                font-weight: 500;
            }
            .firstH3 {
                color: #004cff;
                border: none;
                position: relative;
                &::after {
                    position: absolute;
                    bottom: -3%;
                    left: 0;
                    content: "";
                    width: 118%;
                    height: 2.1px;
                    background-color: rgba(39, 74, 202, 0.442);
                }
            }
        }

        .language,
        .framework {
            width: 800px;
            margin: 0 auto;
            margin-top: 4rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                justify-content: space-between;
                box-shadow: 0 0 5px #ccc;
                border-radius: 20px;
                transition: all 0.5s ease;
                &:hover {
                    transform: translateY(-10px);
                }

                span {
                    font-size: 1rem;
                    font-weight: bold;
                    margin-top: 1rem;
                }
            }
            .js {
                background-color: rgba(253, 246, 36, 0.762);
                color: #ffa600;
            }
            .html {
                background-color: rgba(255, 145, 0, 0.796);
                color: #e65100;
            }
            .css {
                background-color: rgba(39, 74, 202, 0.442);
                color: #0277bd;
            }
            .sass {
                background-color: rgba(223, 76, 208, 0.442);
                color: #f06292;
            }
        }
        .framework {
            margin-top: 3rem;
            .nodejs {
                background-color: rgba(32, 214, 22, 0.673);
                color: #2e7d32;
            }
            .react {
                background-color: rgba(0, 0, 0, 0.673);
                color: #39c1d7;
                img {
                    width: 96px;
                }
            }
            .expressjs {
                background-color: white;
                color: black;
                img {
                    margin-top: 15px;
                    width: 96px;
                }
                span {
                    margin-top: calc(1rem + 25.36px);
                }
            }
            .mongodb {
                background-color: #5d4037;
                color: #4cad4f;
            }
        }
        .btn-scrollDown {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            border: none;
            border-radius: 2rem;
            outline: none;
            transition: all 0.5s ease;
            font-size: 1rem;
            background-color: rgba(47, 105, 206, 0.7);
            padding: 0.3rem 1rem;
            color: rgb(64, 61, 61);
            &:active {
                left: 50%;
                bottom: 1%;
            }
            &:hover {
                background-color: rgba(16, 62, 226, 0.823);
                color: white;
            }
        }
    }
    &-my-project{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            @extend %h3Text;
        }
        .btn-scrollDown{
            @extend %btnScrollDownMix
        }
    }
}

.hiddenBtn {
    display: none;
}

.animationZoomIn {
    animation: zoomIn 1s;
}

.animationZoomIn2 {
    animation: zoomIn2 1s;
}

.animationDropDown {
    animation: dropDown 1s;
}

.animationDropDown2 {
    animation: dropDown2 1s;
}
@keyframes heyo {
    from {
        transform: translateX(-6rem);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zoomIn2 {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes dropDown {
    from {
        margin-top: -4rem;
    }
    to {
        margin-top: 0.5rem;
    }
}

@keyframes dropDown2 {
    from {
        margin-top: 1rem;
    }
    to {
        margin-top: 4rem;
    }
}

.animationSlideNext {
    animation: slideNext 1s;
}

.animationSlideH3 {
    animation: slideNextH3 1s;
}

.animationSlideH32 {
    animation: slideNextH32 1s;
}

.animationSlidePrev {
    animation: slidePrev 1s;
}

@keyframes slideNextH3 {
    from {
        width: 15rem;
    }
    to {
        width: 7.5rem;
    }
}

@keyframes slideNext {
    from {
        transform: translateX(-10rem);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slidePrev {
    from {
        transform: translateX(10rem);
    }
    to {
        transform: translateX(0);
    }
}
