.footer {
    background-color: black;
    margin-top: 50px;
    .about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px #a29696 solid;
        h5 {
            color: white;
            font-weight: inherit;
        }
    }

    .share {
        padding: 10px 0;
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                img {
                    width: 40px;
                }
            }
        }
    }
}
