header {
    background-color: black;
    height: 4rem;
    width: 100%;
    z-index: 3;

    .logo-nav {
        .logo {
            font-weight: bold;
            color: white;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.5s;
            h1 {
                font-size: 2rem;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & > ul {
                margin-left: 0;
                margin-bottom: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: white;
                list-style: none;
                li {
                    position: relative;
                    a {
                        text-decoration: none;
                        color: white;
                        padding: 1.35rem;
                        font-size: 16px;
                        &:hover {
                            background-color: white;
                            color: black;
                            text-decoration: none;
                        }
                        &:hover ~ .subNav {
                            display: block;
                        }
                    }
                }
            }
            .subNav {
                position: absolute;
                bottom: -7.2rem;
                width: 8rem;
                height: auto;
                left: 0;
                text-align: center;
                display: none;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 5;
                ul {
                    list-style: none;

                    li {
                        border-bottom: 1px rgb(209, 207, 207) solid;
                        height: 3rem;
                        padding: 0.8rem 1rem;
                        background-color: white;
                        a {
                            color: black;
                            text-decoration: none;
                            padding: 0.5rem 0.5rem;
                            background-color: white;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        button {
                            background-color: white;
                            outline: none;
                        }

                        &:hover {
                            background-color: #f0f2f5;
                            & a {
                                background-color: #f0f2f5;
                            }
                            & button {
                                background-color: #f0f2f5;
                            }
                        }
                    }
                }

                &:hover {
                    display: block;
                }
            }
        }
        .active {
            background-color: white;
            color: black;
        }
        .hambergerButton {
            position: absolute;
            top: 0.3rem;
            right: 2rem;
            border: none;
            background-color: transparent;
            font-size: 2rem;
            color: white;
            outline: none;
            display: none;
        }
    }
}

.sticky {
    position: fixed;
    animation: show 0.5s linear;
    background-color: rgba(0, 0, 0, 0.8);
}

.clear {
    clear: both;
}

@keyframes show {
    from {
        transform: translateY(-101%);
    }
    to {
        transform: translateY(0);
    }
}
@media only screen and (max-width: 550px) {
    header {
        position: relative;
        .logo-nav {
            height: 64px;
            .logo {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                h1 {
                    font-size: 2rem;
                }
            }
            nav {
                position: absolute;
                transform: translateX(200%);
                transition: all 0.5s;
                width: 100%;
                ul {
                    li {
                        width: 100%;
                        a {
                            width: 100%;
                            &:hover ~ .subNav {
                                display: none;
                            }
                        }
                    }
                }
                .subNav {
                    display: none;
                }

            }
            .navShow {
                position: absolute;
                transform: translateX(0);
                top: 4rem;
                right: 0;
                background-color: rgba(0, 0, 0, 0.8);
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                z-index: 999;

                & ul {
                    flex-direction: column;
                    & li {
                        margin: 1.9rem 0;
                        & a {
                            padding: 2rem 100vw;
                            text-align: center;
                        }
                    }
                }
            }
            .navHidden {
                position: absolute;
                top: 4rem;
                right: 0;
                transform: translateX(200%);
                background-color: rgba(0, 0, 0, 0.8);
                color: black;
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                ul {
                    flex-direction: column;
                    li {
                        margin: 1.9rem 0;
                        a {
                            padding: 2rem 100vw;
                            text-align: center;
                            &:hover{
                                background-color: none;
                            }
                        }
                    }
                }
            }
            .hambergerButton {
                display: block;
            }
        }
    }
}
