.posts-container{
    margin-top: 20px;
    border-bottom: 1px rgb(191, 190, 190) solid;
    padding-bottom: 1rem;

    h4{
        font-weight: 600;
    }
    
    .img-des{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img{
            width: 15rem;
            height: 15rem;
        }

        .des{
            margin-left: 20px;
            text-align: justify;
            max-height: 216px;
            
        }
    }
}

@media only screen and (max-width: 550px){
    .posts-container{
        h4{
            text-align: center;
            font-weight: 600;
        }
        .img-des{
            flex-direction: column;
            img{
                margin-top: 1rem;
                width: 100%;
            }
            .des{
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-top: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 376px){
    .posts-container{
        h4{
            text-align: center;
        }
        .img-des{
            flex-direction: column;
            img{
                margin-top: 1rem;
                width: 100%;
            }
            .des{
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-top: 2rem;
            }
        }
    }
}